---
layout: default
title: Blog
---

<div class="posts">
{% include pagination.html %}
<br>
  <hr>
  <!-- <br> -->
  {% for post in paginator.posts %}
  <div class="post">
    <div class="post-img">
      <a href="{{ site.baseurl }}{{ post.url }}">
      <img src={{post.img}} alt="post_test_img" src="{{ site.baseurl }}{{ post.url }}">
      </a>    
    </div>
    <h2 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    <span class="post-date" style="float:right;">{{ post.date | date_to_string }}</span>
    </h2>

    <div class="post-desc">
      {{ post.desc }}
    </div>
    
    <div style="clear:left;"> </div>
    <hr>
  </div>
  {% endfor %}
</div> 

<!-- Default Statcounter code for My blog website https://vinhintw.github.io/
-->
Total visits:
<script type="text/javascript">
var sc_project=12938829; 
var sc_invisible=0; 
var sc_security="436e914f"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
Statcounter" href="https://statcounter.com/" target="_blank"><img
class="statcounter" src="https://c.statcounter.com/12938829/0/436e914f/0/"
alt="Web Analytics Made Easy - Statcounter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->


<div style="clear: left;" class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

