<link rel="stylesheet" href="{{ site.baseurl }}/public/css/blog-index.css">

<nav>
	<div class='blog-wrapper'>
		<div class='blog-index'>
			<strong><u>Machine learning</u></strong></br>
				<li><a href=''>6. Gradient Descent</a></li>
				<li><a href=''>5. K Nearest Neighbors</a></li>
				<li><a href=''>4. Linear Regression</a></li>
				<li><a href=''>3. AI for flappy bird game (Neural Network, Genetic Algorithm)</a></li>
				<li><a href=''>2. Image Compression using K-Means</a></li>
				<li><a href=''>1. K-Means Clustering</a></li>
			<strong><u>Data Structure and Algorithm</u></strong></br>
				<li><a href=''>1. Linked List</a></li>
				<li><a href=''>2. Stack, Queue</a>
			<strong><u>Other</u></strong></br>
				<li><a href=''>4. Mapping MySQL to MongoDB</a></li>
				<li><a href=''>3. University MySQL DB</a></li>
				<li><a href=''>2. Planetary Rover Game (C#, Winform)</a></li>
				<li><a href=''>1. Music Player (Python)</a></li>
			<strong><u>Project</u></strong></br>
		</div>
	</div>
</nav>