<link rel="stylesheet" href="{{ site.baseurl }}/public/css/blog-index.css">

<nav>
	<div class='blog-wrapper'>
		<div class='blog-index'>
			<strong><u>Data Structure and Algorithm</u></strong></br>
				<li><a href='https://vinhintw.github.io/2023/11/01/single-linked-list/'>1. Single Linked List</a></li>
				<li><a href='https://vinhintw.github.io/2023/11/08/double-linked-list/'>1. Double Linked List</a></li>
				<li><a href='https://vinhintw.github.io/2023/11/01/single-linked-list/'>2. Stack, Queue</a>
		</div>
	</div>
</nav>